<div class="tab-pane fade in active" id="settings">

    <!-- Profile info -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Profile information</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form id ="profile_update_form" class="form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input name= "first_name" type="text"
                                   value="{% if not user.profile  is null %}{{ user.profile.firstName }}{% endif %}"
                                   class="form-control"
                            >
                        </div>
                        <div class="col-md-6">
                            <label>Full name</label>
                            <input name= "last_name" type="text"
                                   value="{% if not user.profile  is null %}{{ user.profile.lastName }}{% endif %}"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Country</label>
                            <input name= "country" type="text"
                                   value="{% if not address  is null %}{{ address.country }}{% endif %}"
                                   class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>County</label>
                            <input name= "county" type="text"
                                   value="{% if not address  is null %}{{ address.county }}{% endif %}"
                                   class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>City</label>
                            <input name= "city" type="text"
                                   value="{% if not address  is null %}{{ address.city }}{% endif %}"
                                   class="form-control">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Email</label>
                            <input type="text" readonly="readonly" value="{{ user.account.email }}"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Upload a new cover image</label>
                            <input name= "profile_picture" type="file" class="file-styled">
                            <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                        </div>
                        <div class="col-md-6">
                            <label>Upload a new profile image</label>
                            <input name= "cover_picture" type="file" class="file-styled">
                            <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i
                                class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /profile info -->


    <!-- Account settings -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Account settings</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                    <li><a data-action="reload"></a></li>
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form action="#">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>New password</label>
                            <input type="password" placeholder="Enter new password"
                                   class="form-control">
                        </div>

                        <div class="col-md-6">
                            <label>Repeat password</label>
                            <input type="password" placeholder="Repeat new password"
                                   class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Profile visibility</label>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="visibility" class="styled"
                                           checked="checked">
                                    Visible to everyone
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="visibility" class="styled">
                                    Visible to friends only
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="visibility" class="styled">
                                    Visible to my connections only
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="visibility" class="styled">
                                    Visible to my colleagues only
                                </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Notifications</label>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    Password expiration notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    New message notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled" checked="checked">
                                    New task notification
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="styled">
                                    New contact request notification
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i
                                class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /account settings -->

</div>