{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
    <style>
        @font-face {
            font-family: aldo;
            src: {{ asset('fonts/aldopc.ttf') }};
        }
        #logo {
            font-family: aldo;
            font-size: 30pt;
            color: white;
            padding-right: 25%;
        }
        #navbar {
            background-color: #39464e;
            padding-top: 10pt;
            padding-bottom: 10pt;
            z-index: 10;
        }
        #button {
            color: white;
            font-size: 15pt;
            font-family: Calibri;
            padding-right: 30pt;
            padding-left: 30pt;
        }
        .image-cropper {
            width: 90px;
            height: 90px;
            overflow: hidden;
            border-radius: 50%;
            z-index: 50;
            position:absolute;
            top:5pt;
            right:50pt;
            border: 2px solid white;
        }
        #rounded {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
            min-width: 100%;
            min-height: 100%;
        }
        .background {
            top: 2pt;
            position:absolute;
            height: 600px;
            width: 100%;
        }
        #profileMenu {
            top: 434px;
            background-color: #39464e;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 120px;
            padding-right: 120px;
            position: relative;
            opacity: 0.7;
        }
        #aboutMe {
            height: 200px;
            background-color: #ededec;
            position: relative;
            top: 434px;
        }
    </style>
{% endblock %}

{% block body %}
   <nav id ="navbar" class="navbar navbar-default navbar-static-top">
       <div class="container-fluid">
           <div id="logo" class="navbar-brand">eBuddy</div>
           <form class="navbar-form navbar-left" role="search">
               <div class="form-group input-group">
                   <input type="text" class="form-control" style="width: 280pt" placeholder="Cauta pe eBuddy">
                   <span class="input-group-btn">
                       <a class="btn btn-default" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                   </span>
               </div>
           </form>
           <div class="nav navbar-nav">
               <a id="button" class="btn" href="#timeline">TIMELINE</a>
               <a id="button" class="btn" href="#notificari">NOTIFICARI</a>
           </div>
       </div>
   </nav>
    <div id="profiePicture" class="image-cropper">
        <img id="rounded" alt="Profile" src="{{ asset('profile-picture.jpg') }}">
    </div>
    <img class="background" alt="Background" src="{{ asset('profile_picture_background_sample.png') }}">
    <div id="profileMenu">
        <a id="button" class="btn" href="#postari">POSTARI</a>
        <a id="button" class="btn" href="#pozele-mele">POZELE MELE</a>
        <a id="button" class="btn" style="float: right" href="#despre-mine">DESPRE MINE</a>
        <a id="button" class="btn" style="float: right" href="#prieteni">PRIETENI</a>
    </div>
    <div id="aboutMe">
        <b>Informatii generale</b>
        <i class="fa fa-graduation-cap" aria-hidden="true">Studiaza Calculatoare Romana la Automatica</i>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
