<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.css') }}">

    <script src="{{ asset('assets/javascript/jquery-3.1.1.js') }}"></script>
    <script src="{{ asset('assets/javascript/jquery.waypoints.js') }}"></script>
    <script src="{{ asset('assets/javascript/customWaypoints.js') }}"></script>
    <title>Title</title>
</head>
<body>
    <div class="background-content-start-page">
        <div id="main-logo" class="disable-text-select logo">eBuddy</div>

        <div class="col-md-8 col-md-offset-2">
            <div class="disable-text-select start-page-welcome-msg">
                Platforma de <div class="blue">socializare</div>
                <img class="start-page-photo" src="{{ asset('images/content/start_page/catalin.png') }}">
            </div>
        </div>
    </div>

    <div id="waypoint-facilities-enable"></div>

    <div class="background-content-info">
        <div class="start-page-text-format start-page-info-text-format">
            <div class="col-md-6 col-md-offset-3">
                <div id="waypoint-facilities" class="disable-text-select start-page-info-msg">
                    FACILITATI OFERITE
                </div>
            </div>

            <div class="start-page-info-facilities">
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/friends.png') }}">
                        <p>Conecteaza-te online cu prietenii</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/chat.png') }}">
                        <p>Discuta in timp real</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/news.png') }}">
                        <p>Stai la curent cu ultimele stiri si noutati</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/photos.png') }}">
                        <p>Impartaseste poze si momente importante din viata ta</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/user.png') }}">
                        <p>Completeaza-ti profilul cu informatii despre tine</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/notification.png') }}">
                        <p>Alege sa primesti notificari pe care tu le consideri importante</p>
                    </div>
                </div>
            </div>

            <div id="waypoint-test" class="col-md-6 col-md-offset-3">
                <button class="start-page-info-button">
                    +MULTE ALTELE
                </button>
            </div>
        </div>
    </div>

    <div class="background-content-register"></div>

    <div class="background-content-info"></div>

    <div id="waypoint-about-enable"></div>

    <div class="background-content-about">
        <div class="start-page-text-format">
            <div class="start-page-about-text-format-heading">
                <div class="col-md-6 col-md-offset-3">
                    <div id="waypoint-about" class="disable-text-select start-page-info-msg">
                        DESPRE NOI
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="start-page-about-content">
                    Prin intermediul platformei noastre de socializare ai posiblitatea de a tine
                    legatura cu toti prietenii tai, oriunde te-ai afla. De asemenea, ramai la curent cu toate noutatile si stirile din mediul online.<br>
                    <br>
                    eBuddy este in continua dezvoltare, ajuta si tu la imbunatatirea
                    platformei. Poti sa iti exprimi punctul de vedere,  iar noi il vom lua in considerare.<br>
                    De aceea te asteptam cu un <a href="#">feedback</a> ! :)
                </div>
            </div>

            <div class="col-md-4 col-md-offset-4">
                <div class="disable-text-select start-page-about-quote">“</div>

                <div class="disable-text-select start-page-about-quote-name">Echipa eBuddy</div>
            </div>
        </div>
    </div>

    <div class="background-content-footer"></div>

    <div class="start-page-sticky-menu hide">
        <div class="disable-text-select logo menu-float element menubar">eBuddy</div>
    </div>

<script>
    var waypointFacilitiesEnabled = true;
    var waypointAboutEnabled = true;

    $(document).ready(function(){
        var loadStickyMenu = function()
        {
            var y = window.scrollY;
            var startPageMenuContainer = $('.start-page-sticky-menu');
            var mainLogoContainer = $('#main-logo');

            if (y >= 50)
            {
                startPageMenuContainer.removeClass('hide');
                mainLogoContainer.css('visibility', 'hidden');
            }
            else
            {
                startPageMenuContainer.addClass('hide');
                mainLogoContainer.css('visibility', '');
            }
        };

        var waypointFacilities = new InitWaypoint('waypoint-facilities', 'waypoint-facilities-enable','12%', 25);
        var waypointABout = new InitWaypoint('waypoint-about', 'waypoint-about-enable', '20%', 85);

        waypointFacilities.handleWaypoint();
        waypointFacilities.processEnableWaypoint();

        waypointABout.handleWaypoint();
        waypointABout.processEnableWaypoint();

        $(window).on('scroll', function() {
            loadStickyMenu();
        });

        loadStickyMenu();
    });
</script>

</body>
</html>