<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.css') }}">
    <title>Title</title>
</head>
<body>
    <div class="background-content-start-page">



        <div class="disable-text-select logo">eBuddy</div>
        <div class="col-md-8 col-md-offset-2">
            <div class="disable-text-select start-page-welcome-msg">
                Platforma de <div class="blue">socializare</div>
                <img class="start-page-photo" src="{{ asset('images/content/start_page/catalin.png') }}">
            </div>
        </div>
    </div>

    <div class="background-content-info">
        <div class="start-page-info-text-format">
            <div class="col-md-6 col-md-offset-3">
                <div class="disable-text-select start-page-info-msg">
                    FACILITATI OFERITE
                </div>
            </div>
            <div class="start-page-info-facilities">
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/friends.png') }}">
                        <p>Conecteaza-te online cu prietenii</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/chat.png') }}">
                        <p>Discuta in timp real</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/news.png') }}">
                        <p>Stai la curent cu ultimele stiri si noutati</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/photos.png') }}">
                        <p>Impartaseste poze si momente importante din viata ta</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/user.png') }}">
                        <p>Completeaza-ti profilul cu informatii despre tine</p>
                    </div>
                </div>
                <div class="col-md-4 start-page-info-spacing-top">
                    <div class="col-md-7 col-md-offset-2">
                        <img class="start-page-info-icons" src="{{ asset('images/icons/notification.png') }}">
                        <p>Alege sa priimesti notificari pe care tu le consideri importante</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <button class="start-page-info-button">
                    +MULTE ALTELE
                </button>
            </div>
        </div>
    </div>

    <div class="background-content-register"></div>

    <div class="background-content-info"></div>

    <div class="background-content-about"></div>

    <div class="background-content-footer"></div>

    <div id="lista">
        <div class="lisa_float elemnt disable-text-select logo menubar">eBuddy</div>
    </div>

<script>
    myId = document.getElementById("lista");

    var myScrollFunc = function() {
        var y = window.scrollY;
        if (y >= 150) {
            myId.className = "lista show"
        } else {
            myId.className = "lista hide"
        }
    };

    window.addEventListener("scroll", myScrollFunc);
</script>

</body>
</html>